{
 "kind": "discovery#restDescription",
 "discoveryVersion": "v1",
 "id": "developerprojects:v1",
 "name": "developerprojects",
 "version": "v1",
 "revision": "20141030",
 "title": "Developer Projects API",
 "description": "Developer Projects API.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/developerprojects/v1/",
 "basePath": "/developerprojects/v1/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "developerprojects/v1/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    }
   }
  }
 },
 "schemas": {
  "ListProjectsResponse": {
   "id": "ListProjectsResponse",
   "type": "object",
   "description": "A page of the response received from the ListProjects method.\n\nA paginated response where more pages are available will have `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
   "externalTypeName": "developer.projects.v1.ListProjectsResponse",
   "properties": {
    "nextPageToken": {
     "type": "string",
     "description": "Pagination token.\n\nIf the result set is too large to fit in a single response, this token will be filled in. It encodes the position of the current result cursor. Feeding this value into a new list request as 'page_token' parameter gives the next page of the results.\n\nWhen next_page_token is not filled in, there is no next page and the client is looking at the last page in the result set.\n\nPagination tokens have a limited lifetime."
    },
    "projects": {
     "type": "array",
     "description": "The list of projects that matched the list query, possibly paginated.\n\nThe resource is partially filled in, based on the retrieval_options specified in the `retrieval_options` field of the list request.",
     "items": {
      "$ref": "Project"
     }
    }
   }
  },
  "Project": {
   "id": "Project",
   "type": "object",
   "description": "",
   "externalTypeName": "developer.projects.v1.Project",
   "properties": {
    "abuseState": {
     "type": "string",
     "description": "The project abuse state. Reports whether any components related to the project have been flagged. Should be ABUSE_OK for a project that is in good standing.\n\nThis field is read-only.",
     "enum": [
      "abuseOk",
      "abuseSuspended",
      "abuseThrottled",
      "abuseUnknown",
      "abuseWarned"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "appengineName": {
     "type": "string",
     "description": "Name identifying legacy projects. This field should not be used for new projects. This field is read-only."
    },
    "createdMs": {
     "type": "string",
     "description": "The time at which the project was created in milliseconds since the epoch.\n\nThis is a read-only field.",
     "format": "int64"
    },
    "labels": {
     "type": "array",
     "description": "The labels associated with this project.",
     "items": {
      "$ref": "ProjectLabelsEntry"
     }
    },
    "lifecycleState": {
     "type": "string",
     "description": "The project lifecycle state.\n\nThis field is read-only.",
     "enum": [
      "lifecycleActive",
      "lifecycleDeleteIrreversible",
      "lifecycleDeleteReversible",
      "lifecycleDeleted",
      "lifecycleUnknown"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "projectId": {
     "type": "string",
     "description": "The unique, user-assigned id of the project. The id must be 6?30 lowercase letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited.\n\nExample: \"tokyo-rain-123\" This field is read-only."
    },
    "projectNumber": {
     "type": "string",
     "description": "The number uniquely identifying the project.\n\nExample: 415104041262 This field is read-only.",
     "format": "int64"
    },
    "title": {
     "type": "string",
     "description": "The user-assigned title of the project. This field is optional and may remain unset.\n\nExample: \"My Project\"\n\nThis is a read-write field."
    }
   }
  },
  "ProjectLabelsEntry": {
   "id": "ProjectLabelsEntry",
   "type": "object",
   "externalTypeName": "developer.projects.v1.Project.LabelsEntry",
   "properties": {
    "key": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  }
 },
 "resources": {
  "projects": {
   "methods": {
    "create": {
     "id": "developerprojects.projects.create",
     "path": "projects",
     "httpMethod": "POST",
     "description": "Creates a project resource.\n\nInitially, the project resource is owned by its creator exclusively. The creator may then grant permission to read or update the project to others.",
     "parameters": {
      "appengineStorageLocation": {
       "type": "string",
       "description": "The storage location for the AppEngine Project Valid options are defined in the StorageLocation enum in apphosting/client/services/api/admin.proto",
       "location": "query"
      },
      "createAppengineProject": {
       "type": "boolean",
       "description": "If true, an AppEngine project will be created.",
       "default": "true",
       "location": "query"
      }
     },
     "request": {
      "$ref": "Project"
     },
     "response": {
      "$ref": "Project"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "delete": {
     "id": "developerprojects.projects.delete",
     "path": "projects/{projectId}",
     "httpMethod": "DELETE",
     "parameters": {
      "projectId": {
       "type": "string",
       "description": "A reference that uniquely identifies the project. This can either be the Project.project_id or the Project.project_number. This is following the naming PRD at goto/project-naming-prd. The caller must be an owner of this project, and billing must already be disabled.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "projectId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "get": {
     "id": "developerprojects.projects.get",
     "path": "projects/{projectId}",
     "httpMethod": "GET",
     "description": "Retrieves a limited project metadata set, given any project identifier.",
     "parameters": {
      "projectId": {
       "type": "string",
       "description": "The unique identifier of a project.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "projectId"
     ],
     "response": {
      "$ref": "Project"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "list": {
     "id": "developerprojects.projects.list",
     "path": "projects",
     "httpMethod": "GET",
     "description": "Lists projects visible to the user.",
     "parameters": {
      "maxResults": {
       "type": "integer",
       "description": "Maximum number of items to return on a single page.",
       "format": "int32",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Pagination token.",
       "location": "query"
      },
      "query": {
       "type": "string",
       "description": "A query expression for filtering the results of the request.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "ListProjectsResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "patch": {
     "id": "developerprojects.projects.patch",
     "path": "projects/{projectId}",
     "httpMethod": "PATCH",
     "description": "Updates the metadata associated with the project.\n\n. This method supports patch semantics.",
     "parameters": {
      "projectId": {
       "type": "string",
       "description": "The unique identifier of the project to be updated.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "projectId"
     ],
     "request": {
      "$ref": "Project"
     },
     "response": {
      "$ref": "Project"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "undelete": {
     "id": "developerprojects.projects.undelete",
     "path": "projects/{projectId}:undelete",
     "httpMethod": "POST",
     "parameters": {
      "projectId": {
       "type": "string",
       "description": "A reference that uniquely identifies the project. This can either be the Project.project_id or the Project.project_number. This is following the naming PRD at goto/project-naming-prd. The caller must be an owner of this project.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "projectId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "update": {
     "id": "developerprojects.projects.update",
     "path": "projects/{projectId}",
     "httpMethod": "PUT",
     "description": "Updates the metadata associated with the project.",
     "parameters": {
      "projectId": {
       "type": "string",
       "description": "The unique identifier of the project to be updated.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "projectId"
     ],
     "request": {
      "$ref": "Project"
     },
     "response": {
      "$ref": "Project"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    }
   }
  }
 }
}
